<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/">Home</a></li>
    <li class="active"><a ng-href="#/beach">Detail</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">BeachLover</h3>
</div>

<body>
  <div class="row">
  <h1>This is the Beach You Picked</h1>
    <h4>This is just a model of the information for planning</h4>

    <div class="col-lg-4">
      <img ng-src="images/beach-holder.jpg"></img>
    </div>
    <div class="col-lg-4">
      <ul>
        <li>Beach feature</li>
        <li>Beach feature</li>
        <li>Beach feature</li>
        <li>Beach feature</li>
        <li>Beach feature</li>
      </ul>
    </div>
    <div class="col-lg-4">
      <ul>
        <li>Weather data</li>
        <li>Weather data</li>
        <li>Weather data</li>
        <li>Weather data</li>
      </ul>
    </div>
  </div>
  <div class="row">
     <p><a class="btn btn-lg btn-success pull-right" ng-click="#">Get Directions</a></p>
  </div>
   
 
 <hr>
<div class="beach-preview row">

  <h2>Your nearby alternatives</h2>
   <h4>This is just a model of the information for planning</h4>

  <ul>
    <li class="beach-snap"><img ng-src="images/beach-holder.jpg"></img></li>
    <li class="beach-snap"><img ng-src="images/beach-holder.jpg"></img></li>
    <li class="beach-snap"><img ng-src="images/beach-holder.jpg"></img></li>
  </ul>
</div>
  
</body>

<div class="footer">
  <p>♥ By Brooke Casey</p>
  <a href='/documents/BeacherLoverApp-RequirementsDocument-June2014.pdf'>View Requirements Documentation</a>
</div>