<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/views/main.html">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">BeachLover</h3>
</div>

<body></body>

<div class="footer">
  <p>♥ By Brooke Casey</p>
  <a href='/documents/BeacherLoverApp-RequirementsDocument-June2014.pdf'>View Requirements Documentation</a>
</div>