<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/beach">Detail</a></li>
    <li><a ng-href="#">Contact</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">BeachLover</h3>
</div>

<div class="jumbotron">
  <h1>HEY BEACH LOVER!</h1>
  
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

</div>
</head>
<body>
  <div id="map"><p>this is where the map will go</p>
  </div>

<div class="row marketing">
  <h4>Hey Beach Lover!</h4>
  <p>
    Description and How to use the App
  </p>

  <h4>This is where the first map will go</h4>
  <p>It will have already located the person and identified beaches within 100 mile radius</p>
</div>


<div class="footer">
  <p>♥ By Brooke Casey</p>
  <a href='/documents/BeacherLoverApp-RequirementsDocument-June2014.pdf'>View Requirements Documentation</a>
</div>
<script>
  // Create a map in the div #map
var map = L.mapbox.map('map', 'brookebc.ido5phje' )
    // .setView([40, -74.50], 9);
</script>


<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
